body {
	margin: 0;
 	padding: 0;

	font-family: "PT Sans", Arial, Sans-Serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000;

	background-color: #fff;
}

a { text-decoration: none; }
a:focus { outline: none; }

ul { padding: 0; }

li { list-style-type: none; }

h2 {
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 30px;
	font-weight: 400;
	color: #3d546e;
	text-transform: uppercase;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-header {
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 17px;
	font-weight: 400;
	padding-bottom: 60px;
	
	background-image: url(../img/background.png);
}

.header-top {
	background-color: #33445a;
}

.header-wrapper {
	position: relative;
	display: flex;
	min-height: 42px;
	margin: 0 auto;
	width: 940px;
	color: white;
}

.header-top a {
	color: white;
}

.header-top-logo {
	position: relative;
	
	width: 220px;
	padding-top: 10px;
	box-sizing: border-box;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-indent: 2px;
	
	background-color: #ff5357;
}

.header-top-logo::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 5px;
	width: 220px;
	background-color: #c23f42;
}

.header-top-logo:hover,
.header-top-logo:focus { background-color: #ca2c37; }
.header-top-logo:hover::before,
.header-top-logo:focus::before { background-color: #9a212a; }
.header-top-logo:active { background-color: #ba2732; }
.header-top-logo:active::before { background-color: #8e1e26; }

.search {
	width: 270px;
	box-sizing: border-box;
	border: 0px;
	padding-left: 49px;
	padding-bottom: 3px;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 17px;
	color: white;
	
	background: #33445a;
	
	outline: none;
}

.search-icon {
	position: absolute;
	top: 12px;
	left: 237px;
	z-index: 20;
	
	opacity: 0.5;
}

.search:hover { background-color: #212a3a; }
.search:focus {
	color: black;
	background-color: white;
}

.search:hover + .search-icon { opacity: 1; }
.search:focus + .search-icon { opacity: 1; }
.search:focus + .search-icon > path {	fill: #ee3643; }

.user-card {
	position: relative;
	display: flex;
	width: 450px;
	margin: 0;
}

.user-card-items {
	padding-top: 8px;
	width: 150px;
}

.user-bookmark { text-indent: 45px; }
.user-cart {	text-indent: 50px; }
.make-order {
	text-align: center;
	background-color: #6db254;
}

.user-card-items:hover { background-color: #212a3a; }
.make-order:hover { background-color: #5fbb2d; }
.user-card-items:active {
	color: rgba(255,255,255, 0.6);
  background-color: #161d29;
}

.make-order:active {
	color: rgba(255,255,255, 0.51);
	background-color: #518534;
}

.user-card-items-bookmark {
	position: absolute;
	top: 12px;
	left: 18px;
}

.user-card-items-cart {
	position: absolute;
	top: 12px;
	left: 169px;
}

.user-card-items > svg { opacity: 0.3; }
.user-card-items:hover > svg,
.user-card-items:focus > svg { opacity: 1; }
.user-card-items:active > svg { opacity: 0.5; }

.header-middle {
	display: flex;
	margin: 0 auto;
	width: 940px;
	min-height: 158px;
}

.header-description {
	box-sizing: border-box;
	padding-top: 32px;
	padding-left: 53px;
	width: 275px;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-style: Italic;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	color: #ff5357;
}

.header-contact {
	box-sizing: border-box;
	padding-top: 35px;
	width: 360px;
	text-align: center;
}

.header-phone-number {
	color: #fb463c;
	font-size: 21px;
	margin-bottom: 0;
	text-indent: 22px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 18% center;
}

.header-adress {
	color: #3d546e;
	font-size: 14px;
}

.header-user-login {
	position: relative;
	weight: 305px;
 	padding-top: 56px;
	padding-left: 71px;
	
	color: black;
	font-size: 21px;
}

.login {
	margin-right: 55px;
}

.header-user-login a:visited { color: black; }
.header-user-login a:hover,
.header-user-login a:focus { color: #ee3643; }
.header-user-login a:active { color: rgba(0, 0, 0, 0.3); }

.header-user-login svg {
	position: absolute;
	top: 60px;
	left: 40px;
}

.login:hover + svg path,
.login:focus + svg path { fill: #32425c; }
.login:active + svg path { fill: #c5c5c5; }

.main-navigation {	
	display: flex;
	justify-content: space-around;
	padding: 0;
	min-height: 60px;
	width: 940px;
	margin: 0 auto;
	
	background: #3d546e;
}

.main-navigation a {
	position: relative;
	flex-grow: 1;
	border-bottom: 5px solid #293449;
	text-align: center;
	line-height: 55px;
	color: white;
}

.main-navigation a:first-child { padding-left: 22px; }
.main-navigation a:last-child { padding-right: 23px; }

.main-navigation a:visited { color: white; }
.main-navigation a:hover,
.main-navigation a:focus { background-color: #293449; }
.main-navigation a:active { 
	background-color: #1d2739;
	border-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

/*Слайдер и карточки услуг*/
/********************************/
.services-navigation {
	width: 940px;
	margin: 0 auto;
	margin-top: 60px;
}

.services-item:nth-child(1),
.services-item:nth-child(2),
.services-item:nth-child(3),
.services-item:nth-child(5) {
	margin-bottom: 20px;
}

.services-item:nth-child(1),
.services-item:nth-child(2),
.services-item:nth-child(4){
	margin-right: 20px;
}

.services-item:nth-child(3),
.services-item:nth-child(5),
.services-item:nth-child(6) {
	margin-right: 0;
}

.services-item:nth-child(4) {
	width: 620px;
	min-height: 266px;
}

.services-clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.services-item {
	width: 300px;
	min-height: 123px;
	float: left;
	border: 0px solid black;
}

.services-materials {
	position: relative;
	
	background-color: #ffbf47;
	background-image: url("../img/icon-1.svg");
	background-position: 83% 51%;
	background-repeat: no-repeat;
}

.services-materials span {
	position: absolute;
	z-index: 20;
	top: 0px;
	right: -1px;
	
	width: 60px;
	height: 59px;
	background-image: url(../img/label-new.png);
	background-repeat: no-repeat;
}

.services-tools {
	background-color: #3bbce3;
	background-image: url("../img/icon-2.svg");
	background-position: 88% 51%;
	background-repeat: no-repeat;
}

.services-technique {
	background-color: #dc91d8;
	background-image: url("../img/icon-3.svg");
	background-position: 86% 51%;
	background-repeat: no-repeat;
}

.services-discount {
	background-color: #8ed78f;
	background-image: url("../img/icon-4.svg");
	background-position: 82% 51%;
	background-repeat: no-repeat;
}

.services-delivery {
	background-color: #ffc047;
	background-image: url("../img/icon-5.svg");
	background-position: 86% 51%;
	background-repeat: no-repeat;
}

.services-item h4 {
	margin-top: 22px;
	margin-left: 22px;
	margin-bottom: 15px;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 24px;
	font-weight: 700;
	color: white;
}

.services-item-link {
	display: block;
	box-sizing: border-box;
	width: 135px;
	border-radius: 2px;
	margin-left: 25px;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	
	background-color: rgba(0, 0, 0, 0.1);
}

.services-item-link:hover,
.services-item-link:focus { background-color: rgba(0, 0, 0, 0.2); }
.services-item-link:active { background-color: rgba(0, 0, 0, 0.3); }

.brutal-slider {
  position: relative;
	width: 620px;
}

.brutal-slider-inner {
	position: relative;
	max-height: 266px;
  overflow: hidden;
}

.brutal-slider-slides {
	margin-top: 0;
  width: 200%;
	transition: transform 0.8s ease;
}

.brutal-slider input[type=radio] {
  display: none;
}

.brutal-slider-controls {
	position: absolute;
	bottom: 30px;
	left: 290px;
	z-index: 10;
}

.brutal-slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

#brutal-slider-btn-1:checked ~ .brutal-slider-controls label[for="brutal-slider-btn-1"],
#brutal-slider-btn-2:checked ~ .brutal-slider-controls label[for="brutal-slider-btn-2"] { background-color: #ff5357; }
#brutal-slider-btn-1:checked ~ .brutal-slider-inner .brutal-slider-slides { transform: translate(0); }
#brutal-slider-btn-2:checked ~ .brutal-slider-inner .brutal-slider-slides { transform: translate(-620px); }

.brutal-slide {
	position: relative;
  float: left;
}

.brutal-slide h3 {
	position: absolute;
  	top: 27px;
	left: 23px;
	
	margin: 0;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 36px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
}

.brutal-slide span {
	position: absolute;
  top: 58px;
	left: 24px;
	
	margin: 0;

	font-size: 18px;
	font-weight: 400;
	color: white;
}

.brutal-slider-link {
	position: absolute;
	z-index: 10;
	bottom: 23px;
	left: 26px;
	
	display: block;
	width: 195px;
	height: 38px;
	border-radius: 2px;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	
	background-color: #ff5357;
}

.brutal-slider-link:hover,
.brutal-slider-link:focus {
	background-color: #ca2c37;
}

.brutal-slider-link:active {
	background-color: #ba2732;
}
/********************************/

.popular-goods {
	width: 940px;
	margin: 0 auto;
	margin-top: 77px;
}

.popular-goods-top {
	display: flex;
	margin-bottom: 47px;
	padding-left: 28px;
	padding-right: 23px;
	justify-content: space-between;
}

.popular-goods h2 {
  margin: auto 0;
}

.all-popular-goods {	
	display: block;
	width: 254px;
	border-radius: 2px;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	
	background-color: #ff5357;
}

.all-popular-goods:hover,
.all-popular-goods:focus {
	background-color: #ca2c37;
}

.all-popular-goods:active {
	background-color: #ba2732;
}

.goods-items {
	display: flex;
	justify-content: space-between;
	width: 940px;
}

.goods-item {
	position: relative;
	width: 218px;
	min-height: 316px;
	border: 1px solid #eaeaea;
	text-align: center;
}

.goods-items .label-new {
	position: absolute;
	z-index: 20;
	top: -1px;
	right: -1px;
	
	width: 60px;
	height: 59px;
	background-image: url(../img/label-new.png);
}

h5 {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 1px;
	padding: 0 15px;
	text-align: center;
	line-height: 20px;
	color: black;
}

.old-price {
	display: block;
	min-height: 38px;
	width: 120px;
	margin: 0 auto;
	
	line-height: 38px;
	font-size: 17px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.new-price {
	display: block;
	min-height: 38px;
	width: 141px;
	margin: 0 auto;
	
	line-height: 38px;
	font-size: 17px;
	color: white;
	
	background-image: url("../img/red-button.svg");
	background-repeat: no-repeat;
}

.hovered-goods {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 10;
}

.hovered-goods .buy,
.hovered-goods .bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border-bottom: 3px solid #367315;
	border-radius: 3px;

	color: white;
	font-size: 14px;
	font-weight: 400;
	font-family: "Cuprum", Arial, sans-serif;
	line-height: 18px;
	text-transform: uppercase;

	background-color: #63a63e;
}

.hovered-goods .bookmark {
	color: #32425c;
	background: white;
	border: 3px solid #63a63e;
}

.goods-item .hovered-goods {
	display: none;
}

.goods-item:hover,
.goods-item:focus {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.goods-item:hover .hovered-goods {
	display: block;
}

.hovered-goods .buy:hover,
.hovered-goods .buy:focus {
	background-color: #5fbb2d;
}

.hovered-goods .buy:active {
	background-color: #518534;
	border-bottom-color: #518534;
}

.hovered-goods .bookmark:hover,
.hovered-goods .bookmark:focus {
	border-color: #32425c;
}

.hovered-goods .bookmark:active {
	opacity: 0.3;
}

/***ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ***/

.popular-producers {
	width: 940px;
	margin: 0 auto;
	margin-top: 45px;
}

.popular-producers-top {
	display: flex;
	margin-bottom: 47px;
	padding-left: 24px;
	padding-right: 24px;
	justify-content: space-between;
}

.popular-producers h2 {
	margin: auto 0;
}

.all-popular-producers {
	display: block;
	width: 254px;
	height: 38px;
	border-radius: 2px;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	
	background-color: #ff5357;
}

.all-popular-producers:hover,
.all-popular-producers:focus {
	background-color: #ca2c37;
}

.all-popular-producers:active {
	background-color: #ba2732;
}

.producers {
	display: flex;
	justify-content: space-between;
	width: 940px;
	flex-wrap: wrap;
}

.producer {
	width: 218px;
	border: 1px solid #eaeaea;
	text-align: center;
	margin-bottom: 13px;
}

.producer:hover,
.producer:focus {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.producer:active {
	box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
}

.producer:active img{
	opacity: 0.3;
}

/***СЕРВИСЫ***/

.services {
	margin-top: 64px;
	padding-top: 43px;
	background-image: url(../img/background.png);
}

.services-wrapper {
	width: 940px;
	margin: 0 auto;
}

.services-wrapper > h2 {
	color: black;
	margin-bottom: 28px;
}

.services-wrapper > p {
	margin-bottom: 0px;
}

.services-slider {
	display: flex;
}

.services-slider-slides {
	width: 305%;
}

.services-slider-inner {
	overflow: hidden;
	box-shadow: -60px 0 75px -90px rgba(0, 0, 0, 1);
}

.services-slider-inner h2 {
	margin-top: 0;
	margin-bottom: 31px;
	font-size: 36px;
}

.services-slide {
	box-sizing: border-box;
	min-height: 341px;
	width: 710px;
	padding-top: 60px;
	padding-left: 80px;
	
	float: left;
}

.services-slide:first-child {
	background-image: url("../img/service delivery background.png");
	background-repeat: no-repeat;
	background-position: 96% 100%;
}

.services-slide:nth-child(2) {
	background-image: url("../img/service guarantee background.png");
	background-repeat: no-repeat;
	background-position: 96% 100%;
}

.services-slide:last-child {
	background-image: url("../img/service credit background.png");
	background-repeat: no-repeat;
	background-position: 96% 100%;
}

.services-slider-controls {
	margin-top: 70px;
}

.services-slider-controls > label {
	display: block;
	border-top: 1px solid #4e637c;
	border-bottom: 1px solid #33445a;
	padding-left: 23px;
	min-height: 59px;
	width: 217px;
	
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 700;
	font-size: 21px;
	line-height: 58px;
	color: white;
	
	background-color: #3d546e;
	
	cursor: pointer;
}

.services-slider-controls > label:hover,
.services-slider-controls > label:focus {
	background-color: #293449;
}

#services-slider-btn-1:checked ~ .services-slider-controls label[for="services-slider-btn-1"],
#services-slider-btn-2:checked ~ .services-slider-controls label[for="services-slider-btn-2"],
#services-slider-btn-3:checked ~ .services-slider-controls label[for="services-slider-btn-3"] {
	color: #3d546e;
	border-color: white;
	background-color: white;
}

#services-slider-btn-1:checked ~ .services-slider-inner .services-slider-slides { transform: translate(0px); }
#services-slider-btn-2:checked ~ .services-slider-inner .services-slider-slides { transform: translate(-710px); }
#services-slider-btn-3:checked ~ .services-slider-inner .services-slider-slides { transform: translate(-1420px); }


.services-slider input[type=radio] {
  display: none;
}

.services-slide a {
	display: block;
	margin-top: 30px;
	width: 195px;
	border-radius: 2px;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	
	background-color: #ff5357;
}

.services-slide a:hover,
.services-slide a:focus {
	background-color: #ca2c37;
}

.services-slide a:active {
	background-color: #ba2732;
}

/***О КОМПАНИИ, КОНТАКТЫ И КАРТА***/

.information {
	width: 940px;
	margin: 0 auto;
	margin-top: 56px;
	display: flex;
}

.information h2 {
	margin-bottom: 28px;
}

.information p {
	margin-bottom: 24px;
}

.about-company p:last-of-type {
	margin-bottom: 11px;
}

.contact-n-map .map {
	margin-bottom: 31px;
	min-height: 158px;
	width: 300px;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
}

.about-company {
	width: 640px;
	min-height: 392px;
}

.contact-n-map {
	width: 300px;
	min-height: 392px;
}

.information ul {
	margin-top: 0;
}


.information li {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	text-indent: 5px;
	line-height: 40px;
}

.information li::before {
  content: '\2015';
  padding-right: 15px;
	font-size: 18px;
  color: #ff716f;
}

.information a {
	display: block;
	border-radius: 2px;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	
	background-color: #ff5357;
}

.about-company-link {
	margin-top: 28px;
	width: 220px;
}
.contact-n-map-link {
	margin-top: 42px;
	width: 300px;
}

.information a:hover,
.information a:focus {
	background-color: #ca2c37;
}

.information a:active {
	background-color: #ba2732;
}

/***ФУТЕР***/
.company-footer {
	margin-top: 87px;
	background-color: #3d546e;
}

.company-footer-wrapper {
	display: flex;
	justify-content: space-between;
	width: 940px;
	min-height: 193px;
	margin: 0 auto;
	background-color: #3d546e;
}


.footer-logo {
	display: block;
	width: 220px;
	height: 68px;
	box-sizing: border-box;
	border-bottom: 5px solid #c23f42;
	
	font-family: "Cuprum", Arial, Sans-Serif;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-indent: 2px;
	line-height: 65px;
	color: white;
	
	background-color: #ff5357;
}

.footer-logo:hover,
.footer-logo:focus { 
	background-color: #ca2c37;
  border-bottom-color: #9a212a;
}

.footer-logo:active { 
	background-color: #ba2732;
  border-botom-color: #8e1e26;
}

.footer-contact p {
	margin-left: 3px;
	margin-top: 26px;
	width: 340px;
	
	color: white;
	font-size: 18px;
	font-family: "Cuprum", Arial, sans-serif;
}

.footer-navigation ul {
	display: flex;
	justify-content: space-between;
	width: 550px;
	
	font-size: 18px;
	font-family: "Cuprum", Arial, sans-serif;
	line-height: 40px;
}

.top-footer-navigation {
  margin-top: 28px;	
}

.bottom-footer-navigation li:first-child {
	padding-left: 25px;
}

.top-footer-navigation a { color: white; }
.bottom-footer-navigation a { color: #ffd180; }
.footer-navigation a:hover,
.footer-navigation a:focus { text-decoration: underline; }
.footer-navigation a:active {
	opacity: 0.5; 
	text-decoration: none;
}

.copyright-footer {
	background-color: #33445b;
}

.copyright-footer-wrapper {
	display: flex;
	width: 940px;
	min-height: 107px;
	margin: 0 auto;
	
	font-size: 16px;
	font-family: "Cuprum", Arial, sans-serif;
	line-height: 40px;
	color: white;
	
	background-color: #33445b;
}

.copyright {
	margin-top: 36px;
	margin-left: 1px;
	margin-right: 164px;
	line-height: 19px;
}

.social-networks {
	display: flex;
	justify-content: space-between;
	width: 131px;
	margin-right: 120px;
}

.social-networks a {
  display: block;
	position: relative;
	height: 41px;
	width: 41px;
	margin-top: 19px;
	border-radius: 50% 50%;
	
	text-align: center;
	
	background-color: #29384a;
}

.vk-link a { line-height: 46px; }
.facebook-link a { line-height: 54px; }
.instagram-link a { line-height: 53px; }

.social-networks a:hover,
.social-networks a:focus,
.social-networks a:active {
	background: #ee3643;
}

.developer-mail {
	padding-top: 35px;
	line-height: 19px;
	width: 188px;
}

.developer-website {
	padding-top: 35px;
	line-height: 19px;
	width: 110px;
}

.developer-mail a,
.developer-website a {
	color: #ffd180;
}
.developer-mail a:hover,
.developer-mail a:focus,
.developer-website a:hover,
.developer-website a:focus { text-decoration: underline; }
.developer-mail a:active,
.developer-website a:active {
	color: #ee3643;
	text-decoration: none;
}